/* Primary */

// Moderate cyan
$color-moderate-cyan: hsl(176, 50%, 47%);
// Dark cyan
$color-dark-cyan: hsl(176, 72%, 28%);

/* Neutral */

// Black
$color-black: hsl(0, 0%, 0%);
// Dark gray
$color-dark-gray: hsl(0, 0%, 48%);
